<div class="flex flex-col items-center justify-center min-h-screen py-8 bg-gray-100">
    <h2 class="mb-6 text-2xl font-semibold text-gray-800">UTA SERVICES</h2>
    <section class="w-full max-w-md bg-white rounded-lg shadow-md">
      <form class="p-6" [formGroup]="quotaForm">
        <div class="flex flex-col space-y-4">
  
          <div>
            <label for="employeeId" class="text-gray-700">Empleado</label>
            <input
              id="employeeId"
              type="text"
              [formControl]="searchInputForEmployee"
              [matAutocomplete]="autoEmployee"
              class="block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
            />
            <mat-autocomplete
              #autoEmployee="matAutocomplete"
              [displayWith]="displayFnForEmployee"
              (optionSelected)="onUserSelected($event)"
            >
              <mat-option *ngFor="let user of filteredOptionsForEmployee | async" [value]="user">
                {{ user.dni }} - {{ user.firstName }} {{ user.lastName }}
              </mat-option>
              <mat-option *ngIf="(filteredOptionsForEmployee | async)?.length === 0 && searchInputForEmployee.value" disabled>
                No se encontraron resultados
              </mat-option>
            </mat-autocomplete>
            <div *ngIf="quotaForm.get('employeeId')?.invalid && (quotaForm.get('employeeId')?.dirty || quotaForm.get('employeeId')?.touched)" class="text-sm text-red-600">
              <span *ngIf="quotaForm.get('employeeId')?.errors?.['required']">El empleado es requerido</span>
            </div>
          </div>
  
          <div>
            <label for="startDate" class="text-gray-700">Fecha de inicio</label>
            <input
              id="startDate"
              type="date"
              formControlName="startDate"
              class="block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
            />
            <div *ngIf="quotaForm.get('startDate')?.invalid && (quotaForm.get('startDate')?.dirty || quotaForm.get('startDate')?.touched)" class="text-sm text-red-600">
              <span *ngIf="quotaForm.get('startDate')?.errors?.['required']">La fecha de inicio es requerida</span>
            </div>
          </div>
  
          <div>
            <label for="endDate" class="text-gray-700">Fecha de finalización</label>
            <input
              id="endDate"
              type="date"
              formControlName="endDate"
              class="block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
            />
            <div *ngIf="quotaForm.get('endDate')?.invalid && (quotaForm.get('endDate')?.dirty || quotaForm.get('endDate')?.touched)" class="text-sm text-red-600">
              <span *ngIf="quotaForm.get('endDate')?.errors?.['required']">La fecha de finalización es requerida</span>
            </div>
          </div>
  
          <div>
            <label for="amout" class="text-gray-700">Cantidad</label>
            <input
              id="amout"
              type="number"
              formControlName="amout"
              class="block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
            />
            <div *ngIf="quotaForm.get('amout')?.invalid && (quotaForm.get('amout')?.dirty || quotaForm.get('amout')?.touched)" class="text-sm text-red-600">
              <span *ngIf="quotaForm.get('amout')?.errors?.['required']">La cantidad es requerida</span>
            </div>
          </div>
  
          <div>
            <label for="comission" class="text-gray-700">Comisión</label>
            <input
              id="comission"
              type="string"
              formControlName="comission"
              class="block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
            />
            <div *ngIf="quotaForm.get('comission')?.invalid && (quotaForm.get('comission')?.dirty || quotaForm.get('comission')?.touched)" class="text-sm text-red-600">
              <span *ngIf="quotaForm.get('comission')?.errors?.['required']">La comisión es requerida</span>
            </div>
          </div>
  
        
  
          <div class="flex space-x-4">
            <button (click)="onCreate()" [disabled]="quotaForm.invalid" class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600 focus:bg-blue-700 focus:outline-none">
              Crear
            </button>
            <button (click)="onUpdate()" *ngIf="isEditMode" [disabled]="quotaForm.invalid" class="px-4 py-2 font-bold text-white bg-green-500 rounded hover:bg-green-600 focus:bg-green-700 focus:outline-none">
              Actualizar
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
  