<div class="flex justify-end w-full mb-4">
    <button
      class="bg-teal-600 hover:bg-teal-700 focus:bg-teal-800 py-2 px-5 text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out"
      routerLink="/dashboard/quotas/create"
    >
      <div class="flex justify-center items-center">
        <mat-icon>person</mat-icon>
        <span class="mx-1"></span>
        Nueva Cuota
      </div>
    </button>
  </div>
  
  <div class="overflow-x-auto md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-300">
        <tr>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Fecha de inicio</span>
          </th>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Fecha de finalización</span>
          </th>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Cantidad</span>
          </th>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Comisión</span>
          </th>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Estado</span>
          </th>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Empleado</span>
          </th>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Acciones </span>
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        @for (quota of quotas; track quotas) {
        <tr class="">
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm font-medium text-gray-400">
                  {{ quota.startDate | date:'yyyy/MM/dd' }}
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm font-medium text-gray-400">
                  {{ quota.endDate | date:'yyyy/MM/dd' }}
                </div>
              </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm font-medium text-gray-400">
              {{ quota.amout }}
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm font-medium text-gray-400">
              {{ quota.comission }}
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div
              class="inline-flex items-center px-3 py-1 text-sm font-normal rounded-full gap-x-2"
              [ngClass]="{
                'text-emerald-500 bg-emerald-100/60': quota.achieved === 'Completa',
                'text-red-500 bg-red-100/60': quota.achieved === 'Incompleta',
                'text-yellow-500 bg-yellow-100/60': quota.achieved === 'Pendiente'
              }"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="w-5 h-5"
                *ngIf="quota.achieved === 'Completa'"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13l4 4L19 7"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="w-5 h-5"
                *ngIf="quota.achieved === 'Incompleta'"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="w-5 h-5"
                *ngIf="quota.achieved === 'Pendiente'"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
              </svg>
              {{ quota.achieved }}
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm font-medium text-gray-400">
              {{ quota.employee.person.firstName }} {{ quota.employee.person.lastName }}
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
            <button
              class="text-gray-500 hover:text-red-500 focus:outline-none px-3"
              (click)="deleteClient(quota.id)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                />
              </svg>
            </button>
  
            <!-- Menú desplegable para cambiar el estado -->
            <mat-menu #stateMenu="matMenu" class="bg-white rounded shadow-lg">
              <div class="flex flex-col p-2">
                <button
                  class="text-sm font-medium text-gray-600 hover:bg-yellow-500 hover:text-white transition-colors duration-150 py-2 px-4 rounded-md"
                  mat-menu-item
                  (click)="updateStatus(quota.id, 'Pendiente')"
                >
                  Pendiente
                </button>
                <button
                  class="text-sm font-medium text-gray-600 hover:bg-emerald-500 hover:text-white transition-colors duration-150 py-2 px-4 rounded-md"
                  mat-menu-item
                  (click)="updateStatus(quota.id, 'Completa')"
                >
                  Completa
                </button>
                <button
                  class="text-sm font-medium text-gray-600 hover:bg-red-500 hover:text-white transition-colors duration-150 py-2 px-4 rounded-md"
                  mat-menu-item
                  (click)="updateStatus(quota.id, 'Incompleta')"
                >
                  Incompleta
                </button>
              </div>
            </mat-menu>
            <button
              mat-icon-button
              [matMenuTriggerFor]="stateMenu"
              aria-label="Seleccionar estado"
              class="text-gray-500 hover:text-red-500 focus:outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                />
              </svg>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="flex flex-row justify-between items-center mt-4">
    <div class="flex flex-row">
      <!-- Botones para cambiar de página -->
      <button class="px-3 py-1 bg-blue-500 text-white rounded-md mr-2 hover:bg-blue-600"
              [disabled]="currentPage === 1"
              (click)="onPageChange(currentPage - 1)">
        Anterior
      </button>
      <div class="text-gray-600 mx-3">
        <!-- Mostrar información de la página actual -->
        Página {{ currentPage }}
      </div>
      <button class="px-3 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-600"
              [disabled]="currentPage === totalPages.length"
              (click)="onPageChange(currentPage + 1)">
        Siguiente
      </button>
    </div>
  </div>
  
  