<div class="flex flex-col items-center justify-center min-h-screen py-8 bg-gray-100">
    <h2 class="mb-6 text-2xl font-semibold text-gray-800">UTA SERVICES</h2>
    <section class="w-full max-w-md bg-white rounded-lg shadow-md">
      <form class="p-6" [formGroup]="tasksForm">
        <div class="flex flex-col space-y-4">
          <div>
            <label for="delegationId" class="text-gray-700">Delegación</label>
            <input
              id="delegationId"
              type="text"
              [formControl]="searchInputForTask"
              [matAutocomplete]="auto"
              class="block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
            >
            <mat-autocomplete #auto="matAutocomplete" 
            [displayWith]="displayDelegation"
            (optionSelected)="onDelegationSelected($event)"
            
            >
              <mat-option *ngFor="let delegation of filteredDelegations | async" [value]="delegation">
               Empleado: {{ delegation.employee.person.dni }} - {{ delegation.employee.person.firstName }} / Cliente: {{ delegation.consumer.person.dni }} - {{ delegation.consumer.person.firstName }} 
              </mat-option>
            </mat-autocomplete>
            <div *ngIf="tasksForm.get('delegationId')?.invalid && (tasksForm.get('delegationId')?.dirty || tasksForm.get('delegationId')?.touched)" class="text-sm text-red-600">
              <span *ngIf="tasksForm.get('delegationId')?.errors?.['required']">La delegación es requerida</span>
            </div>
          </div>
  
          <div>
            <label for="date" class="text-gray-700">Fecha</label>
            <input
              id="date"
              type="datetime-local"
              formControlName="date"
              [min]="minDateTime"
              [max]="maxDateTime"
              class="block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
            >
            <div *ngIf="tasksForm.get('date')?.invalid && (tasksForm.get('date')?.dirty || tasksForm.get('date')?.touched)" class="text-sm text-red-600">
              <span *ngIf="tasksForm.get('date')?.errors?.['required']">La fecha de inicio es requerida</span>
            </div>
          </div>
  
          <div>
            <label for="estimatedTime" class="text-gray-700">Tiempo estimado</label>
            <input
              id="estimatedTime"
              type="datetime-local"
              formControlName="estimatedTime"
              [min]="minDateTime"
              [max]="maxDateTime"
              class="block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
            >
            <div *ngIf="tasksForm.get('estimatedTime')?.invalid && (tasksForm.get('estimatedTime')?.dirty || tasksForm.get('estimatedTime')?.touched)" class="text-sm text-red-600">
              <span *ngIf="tasksForm.get('estimatedTime')?.errors?.['required']">El tiempo estimado es requerido</span>
            </div>
          </div>
  
          <div>
            <label for="type" class="text-gray-700">Tipo de tarea</label>
            <mat-radio-group
              aria-label="Seleccione el tipo de tarea"
              class="bg-white flex flex-col rounded-lg p-2 mb-1"
              formControlName="type"
              color="primary"
            >
              <mat-radio-button value="Llamada">Llamada</mat-radio-button>
              <mat-radio-button value="Visita">Visita</mat-radio-button>
            </mat-radio-group>
            <div *ngIf="tasksForm.get('type')?.invalid && (tasksForm.get('type')?.dirty || tasksForm.get('type')?.touched)" class="text-sm text-red-600">
              <span *ngIf="tasksForm.get('type')?.errors?.['required']">El tipo de tarea es requerido</span>
            </div>
          </div>
  
          <div>
            <label for="content" class="text-gray-700">Comentario</label>
            <input
              id="content"
              type="text"
              formControlName="content"
              class="block w-full px-4 py-2 mt-1 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
            >
            <div *ngIf="tasksForm.get('content')?.invalid && (tasksForm.get('content')?.dirty || tasksForm.get('content')?.touched)" class="text-sm text-red-600">
              <span *ngIf="tasksForm.get('content')?.errors?.['required']">El comentario es requerido</span>
            </div>
          </div>
  
          <button
            *ngIf="isEditMode"
            class="bg-teal-600 hover:bg-teal-700 focus:bg-teal-800 py-2 px-5 text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out"
            (click)="onUpdate()"
          >
            Actualizar
          </button>
          <button
            *ngIf="!isEditMode"
            class="bg-teal-600 hover:bg-teal-700 focus:bg-teal-800 py-2 px-5 text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out"
            (click)="onCreate()"
          >
            Crear
          </button>
        </div>
      </form>
    </section>
  </div>
  