<div class="p-4 h-screen overflow-y-auto bg-gray-900">
    <div class="text-gray-100 text-base">
        <div class="p-2.5 mt-1 flex items-center">
            <h1 class="font-bold text-gray-200 text-xs ml-3 h-7">Ventas</h1>
            <i class="bi bi-x cursor-pointer ml-28 lg:hidden"></i>
        </div>
        <div class="my-1 bg-gray-700 h-[1px]"></div>
    </div>
    <div *ngFor="let subModule of subModules" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
         [routerLink]="subModule.routerLink">
        <mat-icon class="text-gray-200">{{subModule.icon}}</mat-icon>
        <span class="text-[15px] ml-4 text-gray-200 font-bold">{{subModule.description}}</span>
    </div>
  </div>