<form [formGroup]="productForm" class="space-y-7">
  <div>
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre del Producto</label>
    <input id="name" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="name" />
    <div *ngIf="productForm.get('name')?.invalid && (productForm.get('name')?.dirty || productForm.get('name')?.touched)" class="text-sm text-red-600 mt-1">
      <span *ngIf="productForm.get('name')?.errors?.['required']">El nombre del producto es requerido</span>
    </div>
  </div>

  <div>
    <label for="brand" class="block mb-2 text-sm font-medium text-gray-900">Marca</label>
    <input id="brand" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="brand" />
    <div *ngIf="productForm.get('brand')?.invalid && (productForm.get('brand')?.dirty || productForm.get('brand')?.touched)" class="text-sm text-red-600 mt-1">
      <span *ngIf="productForm.get('brand')?.errors?.['required']">La marca es requerida</span>
    </div>
  </div>

  <div>
    <label for="stock" class="block mb-2 text-sm font-medium text-gray-900">Stock</label>
    <input id="stock" type="number" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="stock" />
    <div *ngIf="productForm.get('stock')?.invalid && (productForm.get('stock')?.dirty || productForm.get('stock')?.touched)" class="text-sm text-red-600 mt-1">
      <span *ngIf="productForm.get('stock')?.errors?.['required']">El stock es requerido</span>
    </div>
  </div>

  <div>
    <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Precio</label>
    <input id="price" type="number" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="price" />
    <div *ngIf="productForm.get('price')?.invalid && (productForm.get('price')?.dirty || productForm.get('price')?.touched)" class="text-sm text-red-600 mt-1">
      <span *ngIf="productForm.get('price')?.errors?.['required']">El precio es requerido</span>
    </div>
  </div>

  <div>
    <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Descripción</label>
    <input id="description" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="description" />
    <div *ngIf="productForm.get('description')?.invalid && (productForm.get('description')?.dirty || productForm.get('description')?.touched)" class="text-sm text-red-600 mt-1">
      <span *ngIf="productForm.get('description')?.errors?.['required']">La descripción es requerida</span>
    </div>
  </div>

  <div>
    <label for="category" class="block mb-2 text-sm font-medium text-gray-900">Categoría</label>
    <input id="category" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="category" />
    <div *ngIf="productForm.get('category')?.invalid && (productForm.get('category')?.dirty || productForm.get('category')?.touched)" class="text-sm text-red-600 mt-1">
      <span *ngIf="productForm.get('category')?.errors?.['required']">La categoría es requerida</span>
    </div>
  </div>

  
    @if(isEditMode){
        <button
          class="bg-teal-600 hover:bg-teal-700 focus:bg-teal-800 py-2 px-5 text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out"
          (click)="onUpdate()"
        >
          Actualizar
        </button>
        } @else {
        <button
          class="bg-teal-600 hover:bg-teal-700 focus:bg-teal-800 py-2 px-5 text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out"
          (click)="onCreate()"
        >
          Crear
        </button>
        }
  </form>
  