<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef>Codigo</th>
    <td mat-cell *matCellDef="let element">
      {{ element.product.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Descripción</th>
    <td mat-cell *matCellDef="let element">
      {{ element.product.description }}
    </td>
  </ng-container>

  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
    <td mat-cell *matCellDef="let element">
      {{ element.product.price | currency : "USD" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Cantidad</th>
    <td mat-cell *matCellDef="let element">
      <input
        #quantityInput
        type="number"
        [(ngModel)]="element.cantidad"
        (ngModelChange)="onQuantityChange(element)"
        [ngModelOptions]="{ updateOn: 'blur' }"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef>Descuento</th>
    <td mat-cell *matCellDef="let element">
      <input
        type="number"
        [(ngModel)]="element.descuento"
        (ngModelChange)="onDiscountChange(element)"
        [ngModelOptions]="{ updateOn: 'blur' }"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="deleteItem(element)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
