<div class="flex justify-end w-full mb-4">
  
    <button
      class="bg-teal-600 hover:bg-teal-700 focus:bg-teal-800 py-2 px-5 text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out"
      routerLink="/dashboard/clients/create"
    >
      <div class="flex justify-center items-center">
        <mat-icon>person</mat-icon>
        <span class="mx-1"></span>
        Nuevo Cliente
      </div>
    </button>
  </div>
  
  <div class="overflow-x-auto md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-300">
        <tr>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Nombre</span>
          </th>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Apellido</span>
          </th>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Dirección</span>
          </th>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Email</span>
          </th>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Telefono</span>
          </th>
          <th
            scope="col"
            class="py-3.5 px-6 text-sm font-normal text-left rtl:text-right text-gray-500"
          >
            <span>Acciones </span>
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        @for(client of clients; track client) {
        <tr class="even:bg-gray-100 odd:bg-white">
          <td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
            <div>
              <p class="text-sm font-normal text-gray-400">
                {{ client.firstName }}
              </p>
            </div>
          </td>
          <td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
            <div>
              <p class="text-sm font-normal text-gray-400">
                {{ client.lastName }}
              </p>
            </div>
          </td>
          <td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
            <div>
              <p class="text-sm font-normal text-gray-400">
                {{ client.address }}
              </p>
            </div>
          </td>
          <td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
            <div>
              <p class="text-sm font-normal text-gray-400">
                {{ client.email }}
              </p>
            </div>
          </td>
          <td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
            <div>
              <p class="text-sm font-normal text-gray-400">
                {{ client.phone }}
              </p>
            </div>
          </td>
          <td class="px-6 py-4 text-sm whitespace-nowrap">
            <div class="flex items-center gap-x-6">
              <button
                class="text-gray-500 transition-colors duration-200 hover:text-red-500 focus:outline-none"
                (click)="deleteClient(client.id)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                  />
                </svg>
              </button>
  
              <button
                class="text-gray-500 transition-colors duration-200 hover:text-red-500 focus:outline-none"
                [routerLink]="['/dashboard/clients/edit/', client.id]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                  />
                </svg>
              </button>
           
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    </div>
    
    <div class="flex flex-row justify-between items-center mt-4">
      <div class="flex flex-row">
        <!-- Botones para cambiar de página -->
        <button class="px-3 py-1 bg-blue-500 text-white rounded-md mr-2 hover:bg-blue-600"
                [disabled]="currentPage === 1"
                (click)="onPageChange(currentPage - 1)">
          Anterior
        </button>
        <div class="text-gray-600 mx-3">
          <!-- Mostrar información de la página actual -->
          Página {{ currentPage }}
        </div>
        <button class="px-3 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-600"
                [disabled]="currentPage === totalPages.length"
                (click)="onPageChange(currentPage + 1)">
          Siguiente
        </button>
      </div>
    </div>
    